<div class="col-md-12 title">{{sampleID}}</div>

{{#if attrexist}}
{{#attributes}}
<div class="col-md-6 miniTitle">{{name}}</div>

<div class="col-md-6 info">{{value}}</div>
{{/attributes}}
{{/if}}

<div class="col-md-12 miniTitle">PC</div>


<div class="col-md-12" style="text-align:left;font-size:12px">
    PC1: {{PC1}}<br>
    PC2: {{PC2}}<br>
    PC3: {{PC3}}
</div>
    
